<h2>Questions</h2>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                <th scope="col ">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
    <tbody>
                <tr>
                    <% @questions.each do|question| %>
                        <th scope="row"><%= question.id%></th>
                        <td><%= question.title%></td>
                        <td>[<%= link_to 'Edit', edit_question_path(question)%>]</td>  
                        <td>[<%= link_to 'Delete', question_path(question), method: :delete, data:{ confirm: 'Are you sure?'}%>]</td>  
                        <br>
                </tr>
                    <%end%>
    </tbody>
    
    </table>
<%= link_to 'New Question', new_question_path %>
     </div>
    </div>